<div class="main movie-show">
  <div class="container">
    <div class="movie">
        <%= image_tag(@movie.image) %>
        <div class="info">
          <h3 class="movie-title"> <%= @movie.title %> </h3>
          <p class="movie-release-year"> <%= @movie.release_year %> </p>
          <p class="movie-plot"> <%= @movie.plot %> </p>
          <%= link_to "Back", root_path %>
      </div>
    </div>

    <h2>Cast</h2>

    <% @actors.each do |actor| %>
    <div class="actor">
      <%= image_tag(actor.image) %>
      <h3 class="actor-name"> <%= actor.first_name %> <%= actor.last_name %> </h3>
      <p class="actor-bio"> <%= actor.bio %> </p>
      <p><%= link_to "Learn more", actor_path(actor) %></p>
    </div>
    <% end %>
  </div>
</div>
